.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  background-color: #fff;
  padding-bottom: 30px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 10px;
}

.text {
  color: #3c009d;
  font-size: 38px;
  font-weight: 700;
}

.underline {
  width: 61px;
  height: 6px;
  background: #3c009d;
  border-radius: 9px;
}

.inputs {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 500px;
  height: 45px;
  background: #eaeaea;
  border-radius: 6px;
}

.input img {
  margin: 0px 30px;
}

.input input {
  height: 30px;
  width: 80%;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}
.input {
  margin-bottom: 10px;
}

.link-to-container{
  padding-left: 62px;
  margin-top: 17px;
  color: #797979;
  font-size: 18px;
  margin: auto;
}
.submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 40px auto;
}
.submit-container-reset {
  display: flex;
  gap: 10px;
  margin: 40px auto;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 59px;
  color: #fff;
  background: #4c00b4;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}
*.submit-container-reset .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 59px;
  color: #fff;
  background: #4c00b4;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}
.gray {
  background: #eaeaea;
  color: #676767;
}

.hidden {
  display: hidden;
}
.password-submitted {
  color: #797979;
  font-size: 18px;
  margin: auto;
}
