/* CSS naming convention: BEM
 * Mobile-first approach
 *
 */

body {
  font-size: 12px;
  width: 100%;
}

.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  gap: 10px;
  padding: 10px;
}

.game-list {
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100vH;
}

.games .title {
  color: #3c009d;
  font-size: 1rem;
  font-weight: 700;
}

.centered-link-container {
  display: flex;
  justify-content: center;
}
/* Customization for screen type: Large */
@media screen and (min-width: 480px) {
  body {
    font-size: 14px;
  }

  .profile .title {
    font-size: 1.2rem;
  }
}
