* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #fefefe;
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
